.hero__header {
    position: relative;
    padding-bottom: var(--space5x);
  }
  
  .hero__img {
    position: absolute;
    top: 0; left: 0;
    bottom: 0; right: 0;
    z-index: 0;
  }
  
  .hero__title,
  .hero__sub-title {
    position: relative;
    z-index: 1;
    color: #FFF1D0;
    text-align: center;
  }
  
  .hero__sub-title {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: var(--text-sm);
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 10px;
    text-align: center;
  }

  .hero__date-exposition {
    display: flex;
    align-items: center;
    margin-left: 55px;
  }



  .hero__title {
    text-transform: uppercase;
    width: 329px;
    height: 76px;
  }

  .hero__fleche {
    position: relative;
    color: #FFF1D0;
  }
  