.hero {
    overflow: hidden;
}

.hero__header {
    position: relative;
    padding-bottom: 130px;
    overflow: hidden;
  }
  
  .hero__img {
    position: absolute;
    top: 0; left: 0;
    bottom: 0; right: 0;
    z-index: -1;
  }
  
  .hero__title,
  .hero__sub-title {
    position: relative;
    color: #FFF1D0;
    text-align: center;
    display:flex;
  }
  
  .hero__sub-title {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: var(--text-sm);
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 10px;
    text-align: center;
  }

  .hero__date-exposition {
    display: flex;
    align-items: center;
    justify-content: center;
  }



  .hero__title {
    text-transform: uppercase;
    width: 329px;
    height: 76px;
  }

  .hero__fleche {
    position: relative;
    color: #FFF1D0;
    
  }
  