
.presentation__architecte {
    display: flex;
    align-items: center;
    background-color: #FAF5E9;
    padding: 8px;
    width: 100%;
    flex-shrink: 0;
}

.presentation__architecte img {
    width: 113px;
    height: 155px;
    float: right;
    margin: 10px;
}

.presentation__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: 20px;
    margin-left: 0;
    text-align: left;
}

.presentation__details > * {
    margin-bottom: -px; 
    margin-top: 5px;
}

.presentation__citation {
    margin: 0px;
}

.presentation__details>a {
    margin-left: auto;
    color: black;
    text-transform: uppercase;
}
